<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <connectionStrings>
    <!--change the connectionString to target your own database correctly-->
    <add name="DB" providerName="System.Data.SqlClient" connectionString="Data Source=server;Initial Catalog=database;User ID=User;Password=pass" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>

    <authentication mode="None" />
  </system.web>

  <system.webServer>
    <httpErrors existingResponse="Replace" errorMode="Custom" defaultResponseMode="File">
      <remove statusCode="401" />
      <error statusCode="401" prefixLanguageFilePath="" path="~/Pages/Error404.aspx" responseMode="File" />
      <remove statusCode="404" />
      <error statusCode="404" prefixLanguageFilePath="" path="/Pages/Error404.aspx" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
 
</configuration>